body {
display: flex;
margin: 0;
height: 100vh;
text-align: center;
justify-content: center;
align-items: center;




}



.dice-container {
    display: block;
}

#diceLabel {
font-size: 10rem;


}

#rollBtn {
  background-color: #f04b4b;      
  color: white;                   
  padding: 12px 24px;            
  font-size: 18px;               
  border: none;                   
  border-radius: 10px;       
  cursor: pointer;              
  transition: all 0.3s ease;   
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}